/* nav */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: #B51D37;
  color: white;
  border-radius: 20px;
  position: fixed;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  margin: 0;
}

/* Body */

.App {
  text-align: center;
  padding: 20px;
  background-image: url('../public/space.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  margin-bottom: 20px;
  display: flex;
}

input {
  padding: 20px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #0a3d91;
  border-radius: 20px;
}

button {
  padding: 20px;
  color: white;
  width: 25%;
  border: none;
  border-radius: 20px;
  background-color: #0a3d91;
}

button:hover {
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.image-card {
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-card img:hover {
  cursor: pointer;
}

.nasasvg{
  display: flex;
  position: fixed;
  gap: 10px;
  right: 20px;
  top: 20px;
}

.nasasvg img{
  width: 30px;
  height: auto;
}

.carousel {
  padding-top: 120px;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  transition: transform 1s ease; /* Smooth transition between slides */
}

.active {
  opacity: 1; /* Ensure active slide is visible */
}
